<div class="row justify-content-center hidden-until-md">
    <div class="col-12">
        <nav class="navbar navbar-expand-md p-0">
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/sjoebergco"><i class="fab fa-twitter"></i> Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/michaelsjoeberg"><i class="fab fa-github"></i> GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://angel.co/michaelsjoeberg"><i class="fab fa-angellist"></i> AngelList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://producthunt.com/@sjoebergco"><i class="fab fa-product-hunt"></i></i> Product Hunt</a>
                </li>
            </ul>
        </nav>
    </div>
</div>