<div class="container-fluid p-md-5 p-sm-3" style="background:rgba(23, 23, 23, 0.05);">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-5 text-lg-right hidden-until-lg">
            <h3><%= image_tag "profile_sm.jpg", :class => "m-0", :style => "border-radius:50%;max-height:80px;" %></h3>
        </div>
        <div class="col-12 col-md-10 col-lg-5 mt-3 mt-lg-2">
            <a href="/" class="no-decoration">
                <!-- <h1 class="rotate font-family-mono mt-md-1">
                    <span class="pl-1 pr-1">michaelsjöberg</span>
                </h1> -->
                <h1 class="typewriter font-family-mono mt-md-1">
                    <span class="typewriter-text">michaelsjöberg</span>
                </h1>
            </a>
            <% if @location.nil? %>
                <div><i class="fas fa-map-marker-alt"></i> No location</div>
            <% else %>
                <a href="https://www.google.com/maps?q=<%= @location %>" target="_blank"><i class="fas fa-map-marker-alt"></i> <%= @location %></a>
            <% end %>
        </div>
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <p class="m-0">I am currently building a collaborative investment management platform to make it easier to invest better together at <a href="https://eqzen.com">EQZEN</a>.</p>
        </div>
    </div>
</div>