<div class="row justify-content-center hidden-until-md">
    <div class="col-12">
        <nav class="navbar navbar-expand-md p-0">
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/programming">Programming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/curriculum">Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/sjoebergco"><i class="fab fa-twitter"></i> Twitter</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/michaelsjoeberg">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programming</a>
                    <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                        <a class="nav-link" href="/programming#Python">Python</a>
                        <a class="nav-link" href="/programming#Scala">Scala</a>
                        <a class="nav-link" href="/programming#Ruby">Ruby</a>
                    </div>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li> -->
            </ul>
        </nav>
    </div>
</div>

<button id="modal-mobile-navigation" type="button" class="btn btn-primary fixed hidden-from-md" data-toggle="modal" data-target="#mobile-navigation"><i class="fa fa-bars"></i></button>

<div class="modal fade" id="mobile-navigation" tabindex="-1" role="dialog" aria-labelledby="mobile-navigation" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item">
                        <a class="nav-link p-3 no-decoration" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 no-decoration" href="/posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 no-decoration" href="/programming">Programming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 no-decoration" href="/curriculum">Curriculum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 no-decoration" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 no-decoration" href="https://twitter.com/sjoebergco"><i class="fab fa-twitter"></i> Twitter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 no-decoration" href="https://github.com/michaelsjoeberg"><i class="fab fa-github"></i> GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 no-decoration" href="https://angel.co/michaelsjoeberg"><i class="fab fa-angellist"></i> AngelList</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 no-decoration" href="https://producthunt.com/@sjoebergco"><i class="fab fa-product-hunt"></i></i> Product Hunt</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="modal-footer" style="border:0;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>